<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.stanleyhum.HandbookApp" android:versionCode="1" android:versionName="1.0a">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="HandbookApp" android:icon="@drawable/icon"></application>
</manifest>